
/**
* -------------
* Global Styles
* -------------



body {
  /* Default font family and font color */
}font-family: 'Poppins', sans-serif;

p, li, textarea, label, input, select {
  /* Default font size and line height */
}

.header_title {
font-family: 'Poppins', sans-serif;
text-align: center;
color: #fff; 
font-size: 88px; 
background-color: #fcce00; 
margin-top : 0; 
margin-bottom : 8px; 
text-transform: uppercase; 
}
.header_subtitle {
  font-family:'Poppins', sans-serif;;
  text-align: center;
  color: #fff; 
  font-size: 38px;
  background-color: #ff6b00;
  margin-top: 0;
  margin-bottom: 8px; 
}
.header_deco {
  margin-top: 0;
  margin-bottom: 8px;
}
.header_deco--red {
width: 1440px ;
min-height: 32px;
background-color: #e02020;
}
.header_deco--violet {
  min-height: 16px;
  background-color: #b620e0;
}
.header_deco--purple {
  min-height: 8px;
  background-color: #6236ff;
}



h2 { 
  class"sub-title">It's a COMPUTER, it's a COLOR TV, it's an ARCADE</h2>
  font-family:'Poppins', sans-serif;
  text-align: center ;
  text-justify 
  color: #231f20; 
  size : 40px; 
}

{
<p> When you're ready for serious business, power-on to the Master Keyboard. 
Our state-of-the-art Microprocessor and the RAM packed (64K) internal components (expandable to 128K)
turn this system into one of the most powerful computers on the market.
When the business gets tiresome and you want some real excitement, choose one of our 12 action-packed games ... they'll blow you away. 
And don't feel sorry if you have a large library of Atari VCS, or ColecoVision games, because you can enjoy them through our expansion modules.
This revolutionary system doesn't just claim to duplicate the arcade experience... it surpasses it! And it's portable too, A/C or D/C. 
Plus 3 dimensional graphics, zoom and other special visual effects. 
The unique built-in sound system simulates echo and reverberation for authentic reproduction of explosions, crowds, music, etc. 
And you can hear it all without disturbing others. As a Color TV, it's better than most, with 2 independent systems to guarantee the sharpest resolution for the Computer/Game Systems and TV. </p>
text-justify
size : 16px; 
color: #231f20
font-family :'Poppins regular', sans-serif;
}

h1 {
   /* Default font, size, and margins */
}

h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/